html, body{
	font-size:20px;
	color: #dfdfdf;
	background-color: #000000; 
}

a {
  color: #667e7a;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: url("https://gitlab.com/judgsmith/codesmiths/-/raw/master/assets/img/matrix-356024.jpg");
	width: 100vw;
}

.section-2 {
	background-color: rgb(0, 0, 0);
}

.section-3 {
	background-color: rgb(0, 0, 0);
}

.section-4 {
	background-color: #000000;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 20vw;
	max-width: 20vw;
}

.project-text {
	text-align: justify;
}


.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
	padding: 20vh;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
